In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
ind_cgdp = pd.read_csv(r"Datasets\credit_to_gdp_ind_quarterly.csv")
usa_cgdp = pd.read_csv(r"Datasets\credit_to_gdp_usa_quarterly.csv")

In [27]:
ind_cgdp

,DATAFLOW_ID:Dataflow ID,KEY:Timeseries Key,FREQ:Frequency,BORROWERS_CTY:Borrowers' country,TC_BORROWERS:Borrowing sector,TC_LENDERS:Lending sector,CG_DTYPE:Credit gap data type,Unit,Unit multiplier,TIME_PERIOD:Period,OBS_CONF:Confidentiality,OBS_PRE_BREAK:Pre-break value,OBS_STATUS:Status,OBS_VALUE:Value
0,"BIS,WS_CREDIT_GAP,1.0",Q.IN.P.A.A,Q:Quarterly,IN:India,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,1951-06-30,F:Free,NaN,A:Normal value,23.6
1,"BIS,WS_CREDIT_GAP,1.0",Q.IN.P.A.A,Q:Quarterly,IN:India,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,1951-09-30,F:Free,NaN,A:Normal value,22.0
2,"BIS,WS_CREDIT_GAP,1.0",Q.IN.P.A.A,Q:Quarterly,IN:India,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,1951-12-31,F:Free,NaN,A:Normal value,21.6
3,"BIS,WS_CREDIT_GAP,1.0",Q.IN.P.A.A,Q:Quarterly,IN:India,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,1952-03-31,F:Free,NaN,A:Normal value,21.7
4,"BIS,WS_CREDIT_GAP,1.0",Q.IN.P.A.A,Q:Quarterly,IN:India,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,1952-06-30,F:Free,NaN,A:Normal value,21.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,"BIS,WS_CREDIT_GAP,1.0",Q.IN.P.A.A,Q:Quarterly,IN:India,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,2023-12-31,F:Free,NaN,A:Normal value,91.3
291,"BIS,WS_CREDIT_GAP,1.0",Q.IN.P.A.A,Q:Quarterly,IN:India,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,2024-03-31,F:Free,NaN,A:Normal value,91.6
292,"BIS,WS_CREDIT_GAP,1.0",Q.IN.P.A.A,Q:Quarterly,IN:India,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,2024-06-30,F:Free,NaN,A:Normal value,92.1
293,"BIS,WS_CREDIT_GAP,1.0",Q.IN.P.A.A,Q:Quarterly,IN:India,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,2024-09-30,F:Free,NaN,A:Normal value,91.7
294,"BIS,WS_CREDIT_GAP,1.0",Q.IN.P.A.A,Q:Quarterly,IN:India,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,2024-12-31,F:Free,NaN,A:Normal value,93.0

In [28]:
ind_cgdp = ind_cgdp.rename(columns={"TIME_PERIOD:Period":"Date", "OBS_VALUE:Value":"IND_Credit_to_GDP_Ratios"})
ind_cgdp = ind_cgdp[["Date", "IND_Credit_to_GDP_Ratios"]]
ind_cgdp

           Date  IND_Credit_to_GDP_Ratios
0    1951-06-30                      23.6
1    1951-09-30                      22.0
2    1951-12-31                      21.6
3    1952-03-31                      21.7
4    1952-06-30                      21.9
..          ...                       ...
290  2023-12-31                      91.3
291  2024-03-31                      91.6
292  2024-06-30                      92.1
293  2024-09-30                      91.7
294  2024-12-31                      93.0

[295 rows x 2 columns]

In [29]:
usa_cgdp

,DATAFLOW_ID:Dataflow ID,KEY:Timeseries Key,FREQ:Frequency,BORROWERS_CTY:Borrowers' country,TC_BORROWERS:Borrowing sector,TC_LENDERS:Lending sector,CG_DTYPE:Credit gap data type,Unit,Unit multiplier,TIME_PERIOD:Period,OBS_CONF:Confidentiality,OBS_PRE_BREAK:Pre-break value,OBS_STATUS:Status,OBS_VALUE:Value
0,"BIS,WS_CREDIT_GAP,1.0",Q.US.P.A.A,Q:Quarterly,US:United States,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,1947-12-31,F:Free,NaN,A:Normal value,47.1
1,"BIS,WS_CREDIT_GAP,1.0",Q.US.P.A.A,Q:Quarterly,US:United States,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,1948-03-31,F:Free,NaN,A:Normal value,47.6
2,"BIS,WS_CREDIT_GAP,1.0",Q.US.P.A.A,Q:Quarterly,US:United States,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,1948-06-30,F:Free,NaN,A:Normal value,47.9
3,"BIS,WS_CREDIT_GAP,1.0",Q.US.P.A.A,Q:Quarterly,US:United States,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,1948-09-30,F:Free,NaN,A:Normal value,48.0
4,"BIS,WS_CREDIT_GAP,1.0",Q.US.P.A.A,Q:Quarterly,US:United States,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,1948-12-31,F:Free,NaN,A:Normal value,48.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,"BIS,WS_CREDIT_GAP,1.0",Q.US.P.A.A,Q:Quarterly,US:United States,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,2023-12-31,F:Free,NaN,A:Normal value,147.6
305,"BIS,WS_CREDIT_GAP,1.0",Q.US.P.A.A,Q:Quarterly,US:United States,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,2024-03-31,F:Free,NaN,A:Normal value,146.7
306,"BIS,WS_CREDIT_GAP,1.0",Q.US.P.A.A,Q:Quarterly,US:United States,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,2024-06-30,F:Free,NaN,A:Normal value,145.8
307,"BIS,WS_CREDIT_GAP,1.0",Q.US.P.A.A,Q:Quarterly,US:United States,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,2024-09-30,F:Free,NaN,A:Normal value,145.2
308,"BIS,WS_CREDIT_GAP,1.0",Q.US.P.A.A,Q:Quarterly,US:United States,P:Private non-financial sector,A:All sectors,A:Credit-to-GDP ratios (actual data),Percentage of GDP,Units,2024-12-31,F:Free,NaN,A:Normal value,143.0

In [30]:
usa_cgdp = usa_cgdp.rename(columns={"TIME_PERIOD:Period":"Date", "OBS_VALUE:Value":"USA_Credit_to_GDP_Ratios"})
usa_cgdp = usa_cgdp[["Date", "USA_Credit_to_GDP_Ratios"]]
usa_cgdp

           Date  USA_Credit_to_GDP_Ratios
0    1947-12-31                      47.1
1    1948-03-31                      47.6
2    1948-06-30                      47.9
3    1948-09-30                      48.0
4    1948-12-31                      48.6
..          ...                       ...
304  2023-12-31                     147.6
305  2024-03-31                     146.7
306  2024-06-30                     145.8
307  2024-09-30                     145.2
308  2024-12-31                     143.0

[309 rows x 2 columns]

In [31]:
credit_to_gdp = ind_cgdp.merge(usa_cgdp, on="Date", how="inner")
credit_to_gdp

           Date  IND_Credit_to_GDP_Ratios  USA_Credit_to_GDP_Ratios
0    1951-06-30                      23.6                      54.1
1    1951-09-30                      22.0                      53.9
2    1951-12-31                      21.6                      54.0
3    1952-03-31                      21.7                      53.6
4    1952-06-30                      21.9                      54.8
..          ...                       ...                       ...
290  2023-12-31                      91.3                     147.6
291  2024-03-31                      91.6                     146.7
292  2024-06-30                      92.1                     145.8
293  2024-09-30                      91.7                     145.2
294  2024-12-31                      93.0                     143.0

[295 rows x 3 columns]

In [32]:
credit_to_gdp.to_csv(r"C:\Users\Admin\Documents\Codes\Data Analysis Stuff\USD_INR\credit_to_gdp_ratios.csv", index=False)